<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />


    <!--CSS Saya-->
    <link rel="stylesheet" href="/css/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> FP kelompok 10 </title>
</head>

<body>
    <!--navbar-->
    <div class="navbar-fixed">
        <nav class="green">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">Crypto Indonesia</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/">Beranda</a></li>
                        <li><a href="#tentang">Tentang Kami</a></li>
                        <li><a href="/teams">Tim</a></li>
                        <li><a href="/produk">Produk/Services</a></li>
                        <li><a href="#portofolio">Portofolio</a></li>
                        <li><a href="/contactform">Kontak Kami</a></li>
                        <li><a href="/login">Login</a></li>

                    </ul>
                </div>
        </nav>
    </div>

    <!--sidenav-->

    <ul class="sidenav" id="mobile-nav">
        <li><a href="/">Beranda</a></li>
        <li><a href="#tentang">Tentang Kami</a></li>
        <li><a href="/teams">Tim</a></li>
        <li><a href="/produk">Produk/Services</a></li>
        <li><a href="#portofolio">Portofolio</a></li>
        <li><a href="/contactform">Kontak Kami</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

    <!--slider-->

    <div class="slider" id="beranda">
        <ul class="slides">
            <li>
                 <img src="/img/slider/btc.jpg">
                <div class="caption left-align">
                    <h3>BITCOIN</h3>
                    <h5 class="light grey-text text-lighten-3">Bitcoin adalah mata uang digital, mata uang virtual atau aset kripto.</h5>
                </div>
            </li>
            <li>
                <img src="/img/slider/eth.jpg">
                <div class="caption right-align">
                    <h3>ETHEREUM</h3>
                    <h5 class="light grey-text text-lighten-3">ETH adalah uang digital, ETH juga memiliki banyak fitur yang sama seperti BTC.</h5>
                </div>
            </li>
            <li>
                <img src="/img/slider/xrp.jpg">
                <div class="caption center-align">
                    <h3>RIPPLE</h3>
                    <h5 class="light grey-text text-lighten-3">Cryptocurrency yang dirilis pada tahun 2012 didesain dengan sistem yang berbeda dengan Bitcoin.</h5>
                </div>
            </li>
        </ul>
    </div>

    <!--Tentang Kami-->

    <section class="tentang" id="tentang">
        <div class="container">
            <div class="row">
                <h3 class="light center grey-text text-darken-3">Tentang Kami</h3>
                <div class="col m6 light">
                    <h4>We Are Professionals</h4>
                    <p>
                        Perusahaan kami sudah berpengalaman dalam bisnis ini, jadi jangan ragu untuk bergabung dengan kami.
                    </p>
                </div>
                <div class="col m6 ">
                    <p>Jumlah Orang Yang Berinvestasi</p>

                    <div class="progress">
                        <div class="determinate  green" style="width: 60%">
                        </div>
                    </div>
                    <p>Jumlah Kredit</p>

                    <div class="progress">
                        <div class="determinate green" style="width: 100%">
                        </div>
                    </div>

                    <p>Jumlah Orang Yang Menabung</p>

                    <div class="progress">
                        <div class="determinate  green" style="width: 80%">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <!--Tim-->

    <div class="parallax-container">
        <div class="parallax"><img src="/img/slider/4.png"></div>

        <div id="tim" class="container tim">
            <h5 class="center light white-text text-darken-2">Tim</h5>
            <div class="row">
                {{#each results}}
               <div class="col m2 12 center">
                    <img src="/img/team/{{photo}}" class="responsive-img circle" alt="Image Circle">
                    <p class="white-text"> {{nama}}</p>
                    <p class="white-text"> {{tugas}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>


    <!--Produk/Services-->

    <section id="services" class="services green lighten-4">
        <div class="container">
            <div class="row">
                <h3 class="light center grey-text text-darken-3">Produk/Services
                </h3>
                <div class="col m4 s12">
                    <div class="card-panel center">
                        <h4>Jumlah Orang Yang Berinvestasi</h4>
                        <p> Kami memiliki banyak investor dari dalam maupun luar</p>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card-panel center">
                        <h4>Jumlah Kredit Yang Ditawarkan</h4>
                        <p> Jumlah kredit yang kami tawarkan cukup besar mulai dari 1 juta hingga 10 juta.</p>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card-panel center">
                        <h4>Jumlah Orang Yang Menabung</h4>
                        <p> Kami memiliki banyak nasabah dari dalam maupun luar.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!--portfolio-->

    <section id="portofolio" class="portofolio">
        <div class="container">
            <h3 class="light center grey-text darken-3">Portofolio</h3>
            <div class="row">
                <div class="col m3 12">
                    <img src="/img/portfolio/1.png" class="responsive-img materialboxed">
                </div>
                <div class="col m3 12">
                    <img src="/img/portfolio/2.png" class="responsive-img materialboxed">
                </div>
                <div class="col m3 12">
                    <img src="/img/portfolio/3.png" class="responsive-img materialboxed">
                </div>
                <div class="col m3 12">
                    <img src="/img/portfolio/4.png" class="responsive-img materialboxed">
                </div>
            </div>

            <div class="row">
                <div class="col m3 12">
                    <img src="/img/portfolio/5.png" class="responsive-img materialboxed">
                </div>
                <div class="col m3 12">
                    <img src="/img/portfolio/6.png" class="responsive-img materialboxed">
                </div>
                <div class="col m3 12">
                    <img src="/img/portfolio/2.png" class="responsive-img materialboxed">
                </div>
                <div class="col m3 12">
                    <img src="/img/portfolio/4.png" class="responsive-img materialboxed">
                </div>
            </div>
        </div>
    </section>


    <!--Kontak Kami-->

    <section id="kontak" class="kontak green lighten-4">
        <div class="container">
            <h3 class="light black-text darken-3 center"> Kontak Kami </h3>
            <div class="row">
                <div class="col m5 s12">
                    <div class="card-panel green center ">
                        <i class="material-icons">email</i>
                        <h5> Kontak Kami </h5>
                        <p>Silahkan hubungi kami pada form kontak, kami akan membalas secepat mungkin</p>
                    </div>
                    <ul class="collection with-header">
                        <li class="collection-header center">
                            <h4>Kantor Kami</h4>
                        </li>
                        <li class="collection-item">Tempat Bank</li>
                        <li class="collection-item"> Jl. Kepuh GK III No.850, RT.42/RW.11, Klitren, Kec. Gondokusuman,
                            Kota Yogyakarta, Daerah Istimewa Yogyakarta 55222</li>
                        <li class="collection-item">0852-9249-3000</li>
                    </ul>
                </div>

                <div class="col m7 s12">
                    <form action="/subscribed/kontak" method="POST" >
                        <div class="card-panel">
                            <h6> Silahkan isi form anda di sini</h6>
                            <div class="input-field">
                                <input type="text" name="name" id="name" required class="validate">
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field">
                                <input type="email" email="email" id="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input type="number" phone="phone" id="phone">
                                <label for="phone">Nomor Handphone</label>
                            </div>
                            <div class="input-field">
                                <textarea name="message" id="message" class="materialize-textarea"></textarea>
                                <label for="message">Pesan</label>
                            </div>
                            <button type="submit" class="btn green darken-2 black-text">Kirim</button>
                        </div>
                </div>
            </div>
    </section>


    <!--Footer-->
    <footer class="white lighten-4 center">
        <p class="flow-text">FP K.10 Pemrograman Web AMIKOM &copy; 2020.</p>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script>
        const sideNav = document.querySelectorAll('.sidenav');
        M.Sidenav.init(sideNav)

        const slider = document.querySelectorAll('.slider');
        M.Slider.init(slider, {
            indicators: false,
            height: 500,
            transition: 650,
            interval: 3000
        });



        const parallax = document.querySelectorAll('.parallax');
        M.Parallax.init(parallax);
        const materialbox = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(materialbox);
    </script>
</body>

</html>