<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Area | Users</title>
    <!-- Bootstrap core CSS -->
    
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/bootstraps.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Admin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item active">
            <a class ="nav-link" href="user_index">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class ="nav-link" href="team">Team</a>
            </li>
            <li class="nav-item">
            <a class ="nav-link" href="posts">Posts</a>
            </li>
            <li class="nav-item">
            <a class ="nav-link" href="about">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="users">Users</a>
            </li>
            <li class="nav-item">
            <a class ="nav-link" href="contact">Contact</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
            <a class ="nav-link" href="#">Welcome Back</a>
            </li>
            <li class="nav-item">
            <a class ="nav-link" href="login">Logout</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
     <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Manage Site Dashboard</small></h1>
          </div>
    </header>
    <footer id="footer">
      <p>Copyright Sanju, &copy; 2020</p>
    </footer>
  </body>
</html>