.slider h3,
.slider h5,
.tim h3,
.services h3
{
    text-shadow: 1px 1px 3px rgba (0,0,0.5);
}

.parallax-container {
    height:320px;
}

.parallax img {
    filter: grayscale(1);
    opacity:0.8 !important;
}

.tim img {
    max-width:40px;
    
}


section,footer {
    padding:20px 0;
}